
 body {
   font-family: "Times New Roman", Times, serif;
   background-color: #f9dff7;
}

h1, .title {
	font-family: Zapf Chancery, cursive;
	font-size: 20px;
}

#blogPosts{
	border-style: solid;
	border-width: 4px;
	border-color: black;
}

#blogStart {
	font-size: 30px;;
}
